@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container
{
    width: 150px;
    height: 150px;
    background: #185AD8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
}

.counter
{
    font-size: 4rem;
}

button
{
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    font-size: 1.2em;
    background: white;
    color: rgb(34,34,34);
    box-shadow: 0 0 10px rgb(51, 51, 51, 0.158);
    border: none;
    border-radius: 50px;
}

.inc
{
 bottom: 10%;
 right: -15%;
}

.dec
{
    bottom: -15%;
    right: 10%;
}