body {
  font-family: "Montserrat";
  text-align: center;
}

/*Containers*/

.container-fluid {
  padding: 7% 15%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Sections */

.colored-section {
  background-color: #eb1535;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
  font-weight: 100;
}

/*Title Section*/

#title {
  background-color: #e80529;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  border-radius: 5%;
}

/* Features Section */

#features {
  background-color: #fff;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #e80529;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #b2031e;
}

/*Testimonial Section*/

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/*Pricing*/

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-test {
  font-size: 3rem;
  line-height: 1.5rem;
}

/*CTA Section*/

#cta {
  background-color: #e80529;
  color: #fff;
}

.cta-heading {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 1.5;
}

/*Footer*/

#footer {
  padding: 2% 15% 2%;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1138px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/*Seach Bar*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #dcdcdc;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #dcdcdc;
}

.searchTerm:focus {
  color: #000000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #dcdcdc;
  background: #a9a9a9;
  text-align: center;
  color: #696969;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*gallery*/

.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meals-showcase ol,
ul {
  display: block;
  float: left;
  width: 25%;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
